
.registro{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $negro;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 7px 14px 37px #000;
}

.registro input:hover {
    transform: scale(1.1,1.1);
}

.registro textarea:hover {
    transform: scale(1.1,1.1);
}

.control {
    width: 100%;
    background-color: $gris ;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid $negro;
    font-size: 15px;

}

.boton {
    margin: 10px 80px;
    padding: 12px;
    background-color: $gris  ;
    margin-bottom: 5px;
} 

.boton:hover {
    background-color: $gris1;    
}