.registro {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #343333;
  padding: 40px;
  margin: auto;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 7px 14px 37px #000; }

.registro input:hover {
  transform: scale(1.1, 1.1); }

.registro textarea:hover {
  transform: scale(1.1, 1.1); }

.control {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #343333;
  font-size: 15px; }

.boton {
  margin: 10px 80px;
  padding: 12px;
  background-color: #F5F5F5;
  margin-bottom: 5px; }

.boton:hover {
  background-color: #A9A9A9; }

@media (min-width: 430px) {
  .registro {
    width: 400px; } }

.div-mayor {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 50px;
  justify-content: space-evenly; }

.atributo img {
  width: 100px; }

.atributo {
  text-align: center;
  width: 200px; }

.body2 {
  display: grid;
  grid-template-areas: "titulo" "boton" "div-mayor";
  width: 100%; }

.body2 h1 {
  font-size: 50px;
  margin: 0px 40px;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  text-align: center; }

.body2 input {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #808080;
  border: 1px solid #000;
  box-shadow: 1px 3px 5px #000;
  padding: 4px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto; }

.body2 .div-mayor {
  font-family: "Poppins", sans-serif;
  margin: 20px 0px;
  justify-content: space-around;
  align-items: center; }

@media (min-width: 1000px) {
  .div-mayor {
    display: flex;
    flex-direction: row;
    margin-top: 50px; } }

.grid-content {
  display: grid;
  grid-template-columns: 30% 70%; }

.fundas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5px;
  margin-top: 20px; }

.fundas1 {
  margin-right: 7px; }

.fundas1 img {
  width: 150px;
  border: 3px solid #C0C0C0;
  border-radius: 5px; }

.fundas1:hover {
  transform: scale(1.1, 1.1); }

.fundas1 p {
  width: 150px;
  font-family: "Poppins", sans-serif; }

.aside {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 20px;
  font-family: "Poppins", sans-serif; }

.label {
  margin: 10px; }

.aside h3 {
  margin-top: 15px; }

@media (min-width: 750px) {
  .aside {
    margin: 20px;
    justify-content: flex-start;
    align-content: flex-start; }
  .grid-content {
    display: grid;
    grid-template-columns: 20% 80%; } }

@media (min-width: 450px) {
  .fundas1 img {
    width: 250px;
    border: 3px solid #C0C0C0;
    border-radius: 5px; }
  .fundas1 p {
    width: 250px;
    font-family: "Poppins", sans-serif; } }

@media (max-width: 430px) {
  .grid-content {
    display: grid;
    grid-template-columns: 40% 60%; } }

.grid-content {
  display: grid;
  grid-template-columns: 30% 70%; }

.iphones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5px;
  margin-top: 20px; }

.iphones1 img {
  width: 150px;
  border: 3px solid #C0C0C0;
  border-radius: 5px; }

.iphones1 {
  margin-right: 5px; }

.iphones1 p {
  width: 150px;
  font-family: "Poppins", sans-serif; }

.iphones1:hover {
  transform: scale(1.1, 1.1); }

.aside {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

.label {
  margin: 10px; }

.aside h3 {
  margin-top: 15px; }

@media (min-width: 750px) {
  .aside {
    margin: 20px;
    justify-content: flex-start;
    align-content: flex-start; }
  .grid-content {
    display: grid;
    grid-template-columns: 20% 80%; } }

@media (min-width: 450px) {
  .iphones1 img {
    width: 250px;
    border: 3px solid #C0C0C0;
    border-radius: 5px; }
  .iphones1 p {
    width: 250px;
    font-family: "Poppins", sans-serif; } }

@media (max-width: 430px) {
  .grid-content {
    display: grid;
    grid-template-columns: 40% 60%; } }

.grid-content {
  display: grid;
  grid-template-columns: 30% 70%; }

.mac {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3px;
  margin-top: 20px; }

.mac1 img {
  width: 150px;
  height: 150px;
  border: 3px solid #C0C0C0;
  border-radius: 5px; }

.mac1 {
  margin-right: 5px; }

.mac1 p {
  width: 150px;
  font-family: "Poppins", sans-serif; }

.mac1:hover {
  transform: scale(1.1, 1.1); }

.aside {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

.label {
  margin: 10px; }

.aside h3 {
  margin-top: 15px; }

@media (min-width: 750px) {
  .aside {
    margin: 20px;
    justify-content: flex-start;
    align-content: flex-start; }
  .grid-content {
    display: grid;
    grid-template-columns: 20% 80%; } }

@media (min-width: 450px) {
  .mac1 img {
    width: 250px;
    height: 215px;
    border: 3px solid #C0C0C0;
    border-radius: 5px; }
  .mac1 p {
    width: 250px;
    font-family: "Poppins", sans-serif; } }

@media (max-width: 430px) {
  .grid-content {
    display: grid;
    grid-template-columns: 40% 60%; } }

.grid-content {
  display: grid;
  grid-template-columns: 30% 70%; }

.ipad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin-top: 20px; }

.ipad1 {
  margin: 0px 5px; }

.ipad1 img {
  width: 150px;
  height: 150px;
  border: 3px solid #C0C0C0;
  border-radius: 5px; }

.ipad1 {
  margin-right: 5px; }

.ipad1 p {
  font-family: "Poppins", sans-serif; }

.ipad1:hover {
  transform: scale(1.1, 1.1); }

.aside {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

.label {
  margin: 10px; }

.aside h3 {
  margin-top: 15px; }

@media (min-width: 750px) {
  .aside {
    margin: 20px;
    justify-content: flex-start;
    align-content: flex-start; }
  .grid-content {
    display: grid;
    grid-template-columns: 20% 80%; } }

@media (min-width: 450px) {
  .ipad1 img {
    width: 250px;
    height: 250px;
    border: 3px solid #C0C0C0;
    border-radius: 5px; }
  .ipad1 p {
    width: 250px;
    font-family: "Poppins", sans-serif; } }

@media (max-width: 430px) {
  .grid-content {
    display: grid;
    grid-template-columns: 40% 60%; } }

.grid-content {
  display: grid;
  grid-template-columns: 30% 70%; }

.accesorios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5px;
  margin-top: 20px; }

.accesorios1 {
  height: 320px;
  margin: 20px 5px; }

.accesorios1 img {
  width: 250px;
  height: 250px;
  border: 3px solid #C0C0C0;
  border-radius: 5px; }

.accesorios1 {
  margin-right: 5px; }

.accesorios1 p {
  width: 150px;
  font-family: "Poppins", sans-serif; }

.accesorios1:hover {
  transform: scale(1.1, 1.1); }

.aside {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

.label {
  margin: 10px; }

.aside h3 {
  margin-top: 15px; }

@media (min-width: 750px) {
  .aside {
    margin: 20px;
    justify-content: flex-start;
    align-content: flex-start; }
  .grid-content {
    display: grid;
    grid-template-columns: 20% 80%; } }

@media (min-width: 450px) {
  .accesorios1 img {
    width: 250px;
    border: 3px solid #C0C0C0;
    border-radius: 5px; }
  .accesorios1 p {
    width: 250px;
    font-family: "Poppins", sans-serif; } }

@media (max-width: 430px) {
  .grid-content {
    display: grid;
    grid-template-columns: 40% 60%; } }

.grid-content {
  display: grid;
  grid-template-columns: 40% 60%; }

.applewatch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5px;
  margin-top: 20px; }

.applewatch1 {
  height: 320px;
  margin: 20px 5px; }

.applewatch1 img {
  width: 250px;
  height: 250px;
  border: 3px solid #C0C0C0;
  border-radius: 5px; }

.applewatch1 {
  margin-right: 5px; }

.applewatch1 p {
  width: 150px;
  font-family: "Poppins", sans-serif; }

.applewatch1:hover {
  transform: scale(1.1, 1.1); }

.aside1 {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

.label {
  margin: 10px; }

.aside1 h3 {
  margin-top: 15px; }

@media (min-width: 750px) {
  .aside1 {
    margin: 10px;
    justify-content: flex-start;
    align-content: flex-start; }
  .grid-content {
    display: grid;
    grid-template-columns: 20% 80%; } }

@media (min-width: 450px) {
  .applewatch1 img {
    width: 250px;
    border: 3px solid #C0C0C0;
    border-radius: 5px; }
  .applewatch1 p {
    width: 250px;
    font-family: "Poppins", sans-serif; } }

@media (max-width: 430px) {
  .grid-content {
    display: grid;
    grid-template-columns: 40% 60%; } }

.menu_ul {
  padding: 5px;
  justify-content: space-around;
  margin-left: 4px;
  text-decoration: none; }

.nav {
  background-color: #343333; }

body {
  background-color: #F5F5F5; }

.menuli {
  color: aliceblue;
  font-size: 20px;
  margin: 10px; }

.nav-item:hover {
  text-decoration: underline; }

.menuli a {
  color: aliceblue;
  text-decoration: none;
  border: #000;
  margin-right: 20px; }

.menuli i {
  margin-right: 10px; }

h1 {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin-top: 20px;
  margin-left: 15px; }

h2 {
  color: #a8a5a5;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 15px;
  text-align: end; }

.logo img {
  border-radius: 3px;
  border: #343333 solid 3px;
  margin-left: auto; }

.logo {
  text-align: center;
  margin-top: 50px; }

.main1 {
  margin-top: 3%; }

.articulos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
  height: auto;
  margin-top: 10%; }

.articulo1 {
  margin-top: 20px; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 248, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-light .navbar-toggler {
  border: 1px solid ghostwhite; }

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #343333;
  margin-top: 50px; }

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.iconos img {
  width: 50px;
  height: 50px; }

.iconos2 {
  color: #F5F5F5;
  padding: 3px;
  margin: 10px; }

.iconos2 p {
  text-align: center; }

.iconos2 i {
  padding-right: 7px; }

@media (min-width: 600px) {
  .articulos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
    align-items: center;
    height: auto;
    margin-top: 5%; } }

@media (min-width: 990px) {
  .menuli {
    margin: 0px; } }
